<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Launches</h4>
                      <p class="card-category">Upcoming launches</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Flight number
                                  </th>
                                  <th>
                                    Rocket name
                                  </th>
                                  <th>
                                      Mission name
                                  </th>
                                  <th>
                                      Launch year
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let launche of launches">
                                      <td>
                                          {{launche.flight_number}}
                                      </td>
                                      <td>
                                          {{launche.rocket.rocket_name}}
                                      </td>
                                      <td>
                                          {{launche.mission_name}}
                                      </td>
                                      <td>
                                          {{launche.launch_year}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
