<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Launches</h4>
                      <p class="card-category">Lastest launches</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Flight number
                                  </th>
                                  <th>
                                    Rocket name
                                  </th>
                                  <th>
                                      Mission name
                                  </th>
                                  <th>
                                      Launch year
                                  </th>
                                  <th>

                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let launche of launches | paginate: { itemsPerPage: 10, currentPage: p }">
                                      <td>
                                          {{launche.flight_number}}
                                      </td>
                                      <td>
                                          {{launche.rocket.rocket_name}}
                                      </td>
                                      <td>
                                          {{launche.mission_name}}
                                      </td>
                                      <td>
                                          {{launche.launch_year}}
                                      </td>
                                      <td class="text-primary">
                                        <a href class="btn btn-danger btn-round" [routerLink]="['/launches', launche.flight_number]" >Details</a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
