<div class="container-fluid">
  <div class="row">
    <mat-button-toggle-group #group="matButtonToggleGroup" value="lastest-launche" style="margin-top:15px;left:50%;transform:translateX(-50%);">
      <mat-button-toggle value="lastest-launche">Lastest launches</mat-button-toggle>
      <mat-button-toggle value="upcoming-launche">Upcoming launches</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="row">
    <app-lastest-launche *ngIf="group.value === 'lastest-launche'" style="width: 100%;"></app-lastest-launche>
    <app-upcoming-launche *ngIf="group.value === 'upcoming-launche'" style="width: 100%;"></app-upcoming-launche>
  </div>
</div>