<h1>Rockets</h1>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let rocket of rockets">
        <div class="card card-profile" style="height: calc(100% - 60px);">
          <div class="card-avatar">
            <img class="img" src="assets/img/rocket.jpg" [ngStyle]="{'opacity': rocket.active ? 1 : 0.4}" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{rocket.name}}</h4>
            <p class="card-description">
              {{rocket.description}}
            </p>
            <a href class="btn btn-danger btn-round">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


