<button mat-button [matMenuTriggerFor]="categories">Menu</button>

<mat-menu #categories="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="launches">Launches</button>
  <button mat-menu-item [matMenuTriggerFor]="companyData">Company Data</button>
  <button mat-menu-item [matMenuTriggerFor]="rocketData">Rocket Data</button>
  <button mat-menu-item [matMenuTriggerFor]="capsuleData">Capsule Data</button>
  <button mat-menu-item [matMenuTriggerFor]="launchpadData">Launchpad Data</button>
  <button mat-menu-item [matMenuTriggerFor]="detailedCapsuleData">Detailed Capsule Data</button>
  <button mat-menu-item [matMenuTriggerFor]="detailedCoreData">Detailed Core Data</button>
</mat-menu>

<mat-menu #launches="matMenu">
  <button mat-menu-item><a href="/launches">Launches</a></button>
  <button mat-menu-item><a href="/launches/lastest">Lastest launches</a></button>
  <button mat-menu-item><a href="/launches/past">Past launches</a></button>
  <button mat-menu-item><a href="/launches/upcoming">Upcoming launches</a></button>
  <button mat-menu-item><a href="/launches/search">Search launches</a></button>
</mat-menu>

<mat-menu #companyData="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #rocketData="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #capsuleData="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #launchpadData="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>

<mat-menu #detailedCapsuleData="matMenu">
  <button mat-menu-item></button>
</mat-menu>

<mat-menu #detailedCoreData="matMenu">

</mat-menu>