<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Core details</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Core serial
                                        </th>
                                        <th>
                                            Original launch
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let coreDetail of coreDetails">
                                            <td>
                                                {{coreDetail?.core_serial}}
                                            </td>
                                            
                                            <td>
                                                {{coreDetail?.original_launch}}
                                            </td>
                                            <td>
                                                {{coreDetail?.status}}
                                            </td>
                                            <td class="text-primary">
                                              <a href class="btn btn-danger btn-round" [routerLink]="['/core-details', coreDetail.core_serial]" >Details</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      